@import url(../style.module.css);

.galSelect{
  width: 200px;
  height: 30px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  border: solid white 1px;
  border-radius: 3px;
  background-color: var(--light-blue);
  color:white;
}

  
.formPanel{
  justify-self: left;
  align-items: center;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 5px;
  margin:5px;
}

.formPanel label{
  color: var(--dark-blue);
}
.formPanel select{
  margin-left: 15px;
}
