@import url(../style.module.css);

.NormalButton{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    justify-self: center;
    align-items: center;
    background-color: var(--light-blue);
    color:white;

    border: solid white 2px;
    border-radius: 5px;
    font-size: large;
}


.NormalButton:active{
    background-color: var(--dark-blue);
}
