@import url(../../commom/style.module.css);


.panel{
    margin:20px;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.deletebutton{
    margin: 20px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border-color: none;
    border-width: 0;
}

.deletebutton:hover{
    background-color: rgb(175, 0, 0);
    color: white;
}

.title{
    color:var(--dark-blue)
}

.holder{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    margin: 0px;
    width: fit-content;
    height: fit-content;
    margin-bottom: 5px;

}


.holderdescription{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-bottom: 5px;
    width: fit-content;
    height: fit-content;
}

.atributename{
    color:var(--dark-blue);
    margin-right: 10px;
    margin: 0px;
    font-size: 17px;

}

.atribute{
    margin: 0px;
    color:black;
    font-size: 17px;

}