@import url(../commom/style.module.css);
@import url(../commom/buttons/Buttons.module.css);
.NormalButton{

    justify-self: center;
    align-items: center;
    background-color: var(--light-blue);
    color:white;
    padding: 10px;
    max-width:fit-content;
    margin-top: 20px;
    border: solid white 2px;
    border-radius: 5px;
    font-size: large;
}

h1{
    color: var(--light-blue);
    margin-left: 20px;
}

.NormalButton:active{
    background-color: var(--dark-blue);
}

.container{
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.inputHolder{
    display: flex;
    flex-direction: row;
    margin:30px ;
}

.inputHolder div{
    margin-right: 10px;
    color:black;
    font-size: 20px;
    justify-content: left;
    align-content: center;
    font-weight: 400;
}

.inputHolder input{
    width: 200px;
    max-height: 40px;
}

input[type="file"] {
    display: none;
  }

.fileInput{
    background-color: var(--light-blue);
    color:white;
    padding:5px;
    border-radius: 3px;
    border: solid var(--light-blue) 2px;
}

.fileInput:hover{
    background-color: var(--dark-blue);
}

.fileInput:active{
    background-color: white;
    color: var(--light-blue);
    border: solid var(--light-blue) 2px;
}