@import url(../../commom/style.module.css);

.container{
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-content: center;
    margin: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.NormalButton{

    justify-self: center;
    align-items: center;
    background-color: var(--light-blue);
    color:white;
    padding: 10px;
    max-width:fit-content;
    margin-top: 10px;
    margin-left: 20px;
    border: solid white 2px;
    border-radius: 5px;
    font-size: large;
}

h1{
    color: var(--light-blue);
    margin-left: 20px;
}

.NormalButton:active{
    background-color: var(--dark-blue);
}